<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blogMapper">

    <select id="getBlogs">
        SELECT B.* , F.download_url
        FROM iw_blogs B
        LEFT JOIN iw_file F 
            ON F.seq = B.thumbnail_seq
            AND F.is_deleted = 'N'
        WHERE B.is_deleted = 'N'
            AND B.is_visible = 'Y'
            <if test="title != null and title != ''">
            AND B.title = #{title}
            </if>
            <if test="content != null and content != ''">
            AND B.content = #{content}
            </if>
    </select>

    <insert id="insert">
        INSERT INTO iw_blogs
        ( blog_seq
        , title
        , content
        , thumbnail_seq
        , is_visible
        , is_deleted
        , created_date
        , created_by
        )
        VALUES
        ( #{blogSeq}
        , #{title}
        , #{content}
        , #{thumbnailSeq}
        , #{isVisible}
        , 'N'
        , now()
        , ''
        )
    </insert>

    <update id="update">
        UPDATE iw_blogs 
        SET updated_date = now()
            , updated_by = '',
            <if test="title != null and title != ''">
            , title = #{title}
            </if>
            <if test="content != null and content != ''">
            , content = #{content}
            </if>
            <if test="thumbnailSeq != null and thumbnailSeq != ''">
            , thumbnail_seq = #{thumbnailSeq}
            </if>
            <if test="isVisible != null and isVisible != ''">
            , is_visible = #{isVisible}
            </if>
        WHERE blog_seq = #{blogSeq}
    </update>

    <update id="deleted">
        UPDATE iw_teams 
            SET is_deleted = 'Y'
        WHERE blog_seq = #{blogSeq}
    </update>

</mapper>